- if($model->isNewRecord)
	- $this->menu = array(array('label'=>Yii::t('lang_uk', 'Create'),'url'=>array('create')))
- else
	:php
		$this->menu = array(
			array('label'=>Yii::t('lang_uk', 'Create'), 'url'=>array('create')),
			array('label'=>Yii::t('lang_uk', 'Update'), 'url'=>array('update', 'id'=>$model->id)),
			array('label'=>Yii::t('lang_uk', 'Delete'), 'url'=>array('delete', 'id'=>$model->id))
		);
.form
	:php
		$form = $this->beginWidget(
			'bootstrap.widgets.TbActiveForm',
			array(
				'id' => 'horizontalForm',
				'type' => 'horizontal',
			)
		);
	// = $form->errorSummary($model)
	// = $form->textFieldRow($model, 'text', array('class' => 'span4'))
	= $form->textFieldRow($model, 'title')
	:php
		$form->redactorRow($model,'text',array(
			'class' => 'span8', 
			'rows' => 5, 
			'options' => array(
				'plugins' => array(
					'clips', 
					'fontfamily'),
				'lang' => 'sv'
			)	
		));
	= $form->textAreaRow($model, 'text')
	// .row
	// 	= $form->labelEx($model, 'title')
	// 	= $form->textField($model, 'title')
	// .row
	// 	= $form->labelEx($model, 'text')
	// 	= $form->textArea($model, 'text', array('rows'=>10, 'cols'=>80))
	// .row.buttoms
	= CHtml::submitButton($model->isNewRecord ? Yii::t('lang_uk', 'Save') : Yii::t('lang_uk', 'Update'))
	- $this->endWidget()
	- unset($form)

