:php
	$this->widget('bootstrap.widgets.TbCarousel', array(
	'items' => array(
		array(
			'image' => '/images/third-placeholder830x400.gif', 
			'caption' => 'Image Caption 1', 
			'body' => 'This is a thumnail. What a great picture.', 
			'active' => true),
		array(
			'image' => '/images/third-placeholder830x400.gif', 
			'caption' => 'Image Caption 2', 
			'body' => 'This is a thumnail. What a great picture.'),
		array(
			'image' => '/images/third-placeholder830x400.gif', 
			'caption' => 'Image Caption 3', 
			'body' => 'This is a thumnail. What a great picture.'),
		array(
			'image' => '/images/o_1.jpeg', 
			'caption' => 'Image Caption 4', 
			'body' => 'This is a thumnail. What a great picture.'),
		)
	));
- $this->pageTitle=Yii::app()->name;
%h1 Welcome to 
	%i= CHtml::encode(Yii::app()->name)
%p
Congratulations! You have successfully created your Yii application.
%p
You may change the content of this page by modifying the following two files:
%ul
	%li View file: 
		%code= __FILE__
	%li Layout file:
		%code= Yii::app()->layoutPath. DIRECTORY_SEPARATOR . 'main.php'
%p
For more details on how to further develop this application, please read the 
%a(href="http://www.yiiframework.com/doc/#{ $this->pageTitle }")
	documentation.
Feel free to ask in the
%a(href="http://www.yiiframework.com/forum/")
	forum,
should you have any questions.